Source: xmlrunner
Section: python
Priority: optional
XSBC-Original-Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Ethan Ward <ethan.ward@mycroft.ai>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all-dbg,
               python-all-dev (>= 2.6.6-3~),
               python-setuptools,
               python-pytest-runner,
               python3-pytest-runner,
               python-vcversioner,
               python3-vcversioner,
               python3-all-dbg,
               python3-all-dev,
               python3-setuptools
Standards-Version: 3.9.8

Package: python-xmlrunner
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: xmlrunner module for Python
 This package contains the module for Python 2.x.

Package: python3-xmlrunner
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
